# Export
export(MBSP)
export(matrix_normal)

# Imports
importFrom("MCMCpack", "riwish")
importFrom("GIGrvg", "rgig")
importFrom("stats", "cov", "quantile", "rgamma", "rnorm","var")
importFrom("utils", "tail")
importFrom("mvtnorm", "rmvnorm", "dmvnorm")
